.row {
  margin-bottom: 1rem;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Format the instrument selection buttons*/
.instrument_select .btn {
	font-size: 20px;
	min-height: 150px;
}
.instrument_select .col-md-2 {
  margin: 1rem;
}
/*Change active color of button*/
.instrument_select .btn:hover, .btn:focus, .btn:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #A5C5EB;
    /*border-color: #285e8e; set the color you want here*/
}

/*To make the instrument logos vertically centered*/
.frame {
    height: 100px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
