body {
  padding-top: 5rem;
}
.navbar-left { /*padding around JWST logo*/
  padding-left:10px;
  padding-right:10px;
}

/* ---------- NAV BAR ---------- */
/* Change color of dropdown links on hover */
li.dropdown:hover .nav-link.dropdown-toggle {
    color: #fff;
}

/* Show the dropdown menu on hover */
li.dropdown:hover .dropdown-menu {
    display: block;
}

/* ---------- HELP TIP ---------- */
.help-tip {
    text-align: center;
    background-color: #D0D7D8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    opacity: 0.5;
    display: inline-block;
}

/*---------- Make buttons STScI blue -----*/
.btn-primary, .btn-primary.disabled {
    background-color: #4C8BD8;
    border-color: #4C8BD8;
}

.btn-primary:hover, .btn-primary.disabled:hover {
    background-color: #346199;
    border-color: #346199;
}

.btn-outline-primary {
    border-color: #4C8BD8;
    color: #4C8BD8;
}