.row {
  margin-bottom: 1rem;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Format the instrument selection buttons*/
.instrument_select .btn {
	font-size: 20px;
	min-height: 150px;
}
.instrument_select .col-md-2 {
  margin: 1rem;
}

/*To make the instrument logos vertically centered*/
.frame {
    height: 100px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
