{% extends "jwql_webapp/base.html" %}

{% block preamble %}

	<title>Dashboard - JWST Quicklook</title>

    <!-- Custom styles for this template -->
    <!-- Add "now" timetag to force autoreload the .css file -->
    <link href="{{ static('css/quicklook-dashboard.css') }}?{% now 'U' %}" rel="stylesheet">


    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">
    {% for monitor_name, plots in embed_components.items() %}
        {% for plot_name, components in plots.items() %}
            {{ components[1] | safe}}
            <!--{# <script type="text/javascript" src={{ static(components[1]) }}></script> #} -->
        {% endfor %}
    {% endfor %}

{% endblock %}

{% block content %}

    <main role="main" class='dashboard'>

        <div class="row">
            {% for monitor_name, plots in embed_components.items() %}
                {% for plot_name, components in plots.items() %}
                    <div class="col-6">
                        {{  components[0] | safe }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

	</main>

{% endblock %}
