*.pyc
*.fits
*.ipynb_checkpoints/
/jwql/utils/config.json
build/
dist/
jwql.egg-info/
docs/build/
docs/source/api/
.cache
*.pytest_cache
htmlcov/
jwql/instrument_monitors/miri_monitors/data_trending/miri_database.db
