*.pyc
*.fits
*.ipynb_checkpoints/
config.json
.DS_Store
build/
dist/
jwql.egg-info/
docs/build/
docs/source/api/
.cache
*.pytest_cache
htmlcov/
*.sqlite3
jwql/website/static/*.csv
jwql/website/apps/jwql/static/filesystem
jwql/website/apps/jwql/static/outputs
jwql/website/apps/jwql/static/preview_images
jwql/website/apps/jwql/static/thumbnails
