# This file describes a conda environment that can be to install jwql
#
# Run the following command to set up this environment:
# $ conda env create -f environment_python_3.9.yml
#
# The environment name can be overridden with the following command:
# $ conda env create -n <custom name> -f environment_python_3.9.yml
#
# Run the following command to activate the environment:
# $ source activate jwql-3.9
#
# To deactivate the environment run the following command:
# $ source deactivate
#
# To remove the environment entirely, run the following command:
# $ conda env remove -n jwql-3.9

name: jwql-3.9

channels:
  - conda-forge
  - defaults

dependencies:
  - astropy=5.3.3
  - beautifulsoup4=4.12.2
  - bokeh=2.4.3
  - celery=5.3.4
  - cryptography=41.0.4
  - django=4.2.5
  - inflection=0.5.1
  - ipython=8.16.1
  - jinja2=3.1.2
  - jsonschema=4.19.1
  - matplotlib=3.8.0
  - nodejs=20.8.0
  - numpy=1.25.2
  - numpydoc=1.5.0
  - pandas=2.1.1
  - pip=23.2.1
  - postgresql=15.4
  - psycopg2=2.9.7
  - pytest=7.4.2
  - pytest-cov=4.1.0
  - pytest-mock=3.11.1
  - python=3.9.17
  - pyyaml=6.0.1
  - redis=5.0.0
  - ruff=0.0.292
  - scipy=1.9.3
  - setuptools=68.2.2
  - sphinx=7.2.6
  - sphinx_rtd_theme=1.3.0
  - sqlalchemy=2.0.21
  - twine=4.0.2
  - wtforms=3.0.1

  - pip:
    - astroquery==0.4.6
    - bandit==1.7.5
    - jwst==1.12.3
    - jwst_backgrounds==1.2.0
    - pysiaf==0.20.0
    - pysqlite3==0.5.2
    - pyvo==1.4.2
    - redis==5.0.0
    - selenium==4.13.0
    - stdatamodels==1.8.3
    - stsci_rtd_theme==1.0.0
    - vine==5.0.0
    - git+https://github.com/spacetelescope/jwst_reffiles

    # Current package
    - -e .
