# This file describes a conda environment that can be to install jwql
#
# Run the following command to set up this environment:
# $ conda env create -f environment_python_3_9.yml
#
# The environment name can be overridden with the following command:
# $ conda env create -n <custom name> -f environment_python_3_9.yml
#
# Run the following command to activate the environment:
# $ source activate jwql-3.9
#
# To deactivate the environment run the following command:
# $ source deactivate
#
# To remove the environment entirely, run the following command:
# $ conda env remove -n jwql-3.9

name: jwql-3.9

channels:
  - conda-forge
  - defaults

dependencies:
  - astropy=5.2.2
  - bokeh=2.4.3
  - beautifulsoup4=4.12.2
  - celery=5.2.7
  - cryptography=40.0.2
  - django=4.2.1
  - flake8=6.0.0
  - inflection=0.5.1
  - ipython=8.13.2
  - jinja2=3.1.2
  - jsonschema=4.17.3
  - matplotlib=3.7.0
  - nodejs=18.15.0
  - numpy=1.24.3
  - numpydoc=1.5.0
  - pandas=2.0.1
  - pip=23.1.2
  - postgresql=15.2
  - psycopg2=2.9.3
  - pytest=7.3.1
  - pytest-cov=4.0.0
  - pytest-mock=3.10.0
  - python=3.9.16
  - pyyaml=6.0
  - redis
  - scipy=1.10.1
  - setuptools=67.7.2
  - sphinx=6.2.1
  - sphinx_rtd_theme=1.2.0
  - sqlalchemy=2.0.15
  - twine=4.0.2
  - wtforms=3.0.1

  - pip:
    - astroquery==0.4.6
    - bandit==1.7.5
    - jwst==1.10.2
    - pysiaf==0.19.1
    - pysqlite3==0.5.0
    - pyvo==1.4.1
    - redis==4.5.5
    - selenium==4.9.1
    - stdatamodels==1.3.1
    - stsci_rtd_theme==1.0.0
    - vine==5.0.0
    - git+https://github.com/spacetelescope/jwst_reffiles

    # Current package
    - -e .
