include CODE_OF_CONDUCT.md
include README.md
include LICENSE
include CHANGES.rst
include environment_python_3_7.yml
include environment_python_3_8.yml
include pyproject.toml
include requirements.txt
include rtd_requirements.txt
include jwql/example_config.json

recursive-include notebooks *
recursive-include style_guide *
recursive-include typing_demo *
recursive-include jwql/database/monitor_table_definitions *.txt

exclude *.pyc
