astropy>=3.0
astroquery==0.3.9
bokeh==1.0.2
django==2.1.4
ipython==7.2.0
jinja2==2.10
jwst==0.0.0
matplotlib==3.0.2
numpy==1.15.4
numpydoc==0.8.0
pandas==0.23.4
psycopg2==2.7.6.1
python-dateutil==2.7.5
pytest==4.0.2
sphinx==1.8.2
sphinx-automodapi==0.9
sqlalchemy==1.2.14
stsci_rtd_theme==0.0.2
