astropy
astroquery
bandit
beautifulsoup4
bokeh
celery
cryptography
django
inflection
ipython
jinja2
jsonschema
jwst
matplotlib
nodejs
numpy
numpydoc
pandas
psycopg2-binary
pysiaf
pysqlite3
pytest
pytest-cov
pytest-mock
pyvo
pyyaml
redis
ruff
scipy
selenium
setuptools
sphinx
sphinx_rtd_theme
sqlalchemy
stdatamodels
stsci_rtd_theme
twine
vine
wtforms
git+https://github.com/spacetelescope/jwst_reffiles#egg=jwst_reffiles
