sphinx_automodapi==0.15.0
bokeh==2.4.3
celery==5.3.1
cython==3.0.0
django==4.2.3
docutils==0.18.1
jwst==1.11.4
pygments==2.16.1
pytest==7.4.0
redis==5.0.0
sphinx==6.2.1
sphinx_rtd_theme==1.2.2
stsci_rtd_theme==1.0.0
tomli==2.0.1
git+https://github.com/spacetelescope/jwst_reffiles
