cython==0.29.28
django==3.2.5
docutils==0.18.1
flake8==4.0.1
jwst==1.4.3
pygments==2.11.2
pytest==7.0.1
sphinx>=2
tomli==2.0.1
git+https://github.com/spacetelescope/jwst_reffiles
git+https://github.com/spacetelescope/stsci_rtd_theme.git