sphinx_automodapi>=0.15.0
bokeh==2.4.3
celery==5.3.4
cython>=3.0.0
django==5.0.3
docutils>=0.18.1
jwst==1.12.3
pygments==2.16.1
pytest==7.4.2
redis==5.0.0
selenium==4.13.0
sphinx==7.2.6
stsci_rtd_theme==1.0.0
tomli==2.0.1
git+https://github.com/spacetelescope/jwst_reffiles
