{% extends "jwql_webapp/base.html" %}
{% block content %}

<head>
	<title>Archived {{ inst }} Images - JWST Quicklook</title>

	<!-- Custom styles and scripts for this template -->
	<link href="{{staticURL}}css/quicklook-archive.css?{% now 'U' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!-- <link href="{{staticURL}}css/loader.css?{% now 'U' %}" rel="stylesheet"> -->

</head>

<body>
    <main role="main" class="container">

    	<script>
		// JS function to determine what filetype to use for the thumbnail
		function determine_filetype_for_thumbnail(suffixes, i, file_root) {
		    // Get all suffixes for the specific thumbnail
		    var suffixes = suffixes.replace(/&#39;/g, '"');
		    var suffixes = JSON.parse(suffixes);

		    // Update the thumbnail to show the most processed filetype
		    var img = document.getElementById('thumbnail'+i);
		    if (suffixes.indexOf("cal") >= 0) {
		        var jpg_path = '{{ staticURL }}thumbnails/' + file_root.slice(0,7) + '/' + file_root + '_cal_integ0.thumb';
		        img.src = jpg_path;
		    } else if (suffixes.indexOf("rate") >= 0) {
		        var jpg_path = '{{ staticURL }}thumbnails/' + file_root.slice(0,7) + '/' + file_root + '_rate_integ0.thumb';
		        img.src = jpg_path;
		    } else if (suffixes.indexOf("uncal") >= 0) {
		        var jpg_path = '{{ staticURL }}thumbnails/' + file_root.slice(0,7) + '/' + file_root + '_uncal_integ0.thumb';
		        img.src = jpg_path;
		    }
		};

		function search() {
		    // Find all proposal elements
		    var proposals = document.getElementsByClassName("proposal");

		    // Determine the current search value
		    var search_value = document.getElementById("search_box").value;

		    // Determine whether or not to display each thumbnail
		    var num_proposals_displayed = 0;
		    for (i = 0; i < proposals.length; i++) {
		        // Evaluate if the proposal number matches the search
		        var prop_name = document.getElementById("proposal" + i).getAttribute('proposal')

		        if (prop_name.startsWith(search_value)) {
		        	proposals[i].style.display = "inline-block";
		            num_proposals_displayed++;
		        } else {
		            proposals[i].style.display = "none";
		        }
		    };

		    // If there are no proposals to display, tell the user
		    if (num_proposals_displayed == 0) {
		        document.getElementById('no_proposals_msg').style.display = 'inline-block';
		    } else {
		        document.getElementById('no_proposals_msg').style.display = 'none';
		    };

		    // Update the count of how many images are being shown
		    document.getElementById('img_show_count').innerHTML = 'Showing ' + num_proposals_displayed + '/{{ proposals|length }} proposals'
		};

		function sort_by(sort_type) {
		    // Update dropdown menu text
		    document.getElementById('sort_dropdownMenuButton').innerHTML = sort_type;

		    // Sort the thumbnails accordingly
		    var props = $('div#proposal-array>div')
		    if (sort_type == 'Ascending') {
		        tinysort(props, {order:'asc'});
		    } else if (sort_type == 'Descending') {
		        tinysort(props, {order:'desc'});
		    }
		};
    	</script>

    	<h3 id='title'>Archived {{ inst }} Images</h3>

    	<p id='img_show_count'>Showing {{ n_proposals }}/{{ n_proposals }} proposals
    		<a href="https://jwst-docs.stsci.edu/display/JDAT/File+Naming+Conventions+and+Data+Products" target="_blank" style="color: black">
    			<span class="help-tip mx-2">i</span>
    		</a>
    	</p>

    	<hr>

    	<!-- Filter and sort options -->
		<div class="d-flex flex-row">
			<!-- Search Bar -->
		    <div class="input-group mb-3">
			  <input id='search_box' type="text" class="form-control" placeholder="Search" aria-label="Search by proposal" oninput="search();">
			  <div class="input-group-append">
			  	<span class="input-group-text"><span class="fas fa-search" aria-hidden="true"></span></span>
			    <!--<button class="btn btn-primary" type="button"><span class="fas fa-search" aria-hidden="true"></span></button>-->
			  </div>
			</div>

			<!-- Sort Options -->
			<div class="mx-4 mr-5 ml-auto">
		    	Sort by:
		    	<span class="dropdown">
				  <button class="btn btn-primary dropdown-toggle ml-3" type="button" id="sort_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ascending</button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<a class="dropdown-item" href="#" onclick="sort_by('Ascending');">Ascending</a>
			    	<a class="dropdown-item" href="#" onclick="sort_by('Descending');">Descending</a>
				  </div>
				</span>
			</div>
		</div>

		<hr>

		<!-- Display the data -->
		<div id='proposal-array'>
		{% for prop, thumb, n in zipped_thumbnails %}
			{% url 'jwql_webapp:archive_thumb' inst prop as viewimage_URL %}
			<div class="proposal text-center">
				<a href='{{ viewimage_URL }}' id="proposal{{ forloop.counter0 }}" proposal="{{prop}}">
					<span class="helper"></span><img src='{{ staticURL }}thumbnails/{{thumb}}' alt='' width=100%>
					<div class='color-fill' ></div>
					<div class='thumbnail_info'>
						<h3>{{prop}}</h3>
						<h6>{{n}} Files</h6>
					</div>
				</a>
				<!-- <a -->
			</div>
		{% endfor %}
		</div>
		<a id="no_proposals_msg" style='display: none'>No proposals match the search criteria.</a>

	</main>

	<!-- Needed javascript -->
	<script src="{{staticURL}}js/tinysort.min.js?{% now 'U' %}"></script>

</body>

{% endblock %}