<!doctype html>
<html lang="en">

	{% load static %}
	{% static "" as staticURL %}
	<head>
		<!-- JWQL Icon as website image -->
		<link rel="shortcut icon" href="{{ staticURL }}jwql_webapp/images/favicon.ico?{% now 'U' %}" />

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{staticURL}}css/bootstrap.min.css?{% now 'U' %}">

		<!-- Custom styles for this template -->
		<link href="{{staticURL}}css/quicklook-master.css?{% now 'U' %}" rel="stylesheet">
		<link href="{{staticURL}}css/sticky-footer.css?{% now 'U' %}" rel="stylesheet">

		<!-- Import fonts -->
		<link href="https://fonts.googleapis.com/css?family=Oswald:700|Overpass" rel="stylesheet">


	</head>

	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md fixed-top">
		    <a class="navbar-left"><img src="{% static 'jwql_webapp/images/JWQLlogo_small.png' %}" height=35 width=35></a>
	        <a class="navbar-brand" href="{% url 'jwql_webapp:home' %}">JWST Quicklook</a>
	        <a class="navbar-brand" href="#"><font color='#f2ce3a'>{{ inst }}</font></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        	<ul class="navbar-nav mr-auto">
	          		<li class="nav-item active">
	            		<a class="nav-link" href="{% url 'jwql_webapp:home' %}">Home<span class="sr-only">(current)</span></a>
	          		</li>
	          		{% for inst_key, inst_tools in tools.items %}
		          	<li class="dropdown">
		            	<a class="nav-link dropdown-toggle disabled" href="{% url 'jwql_webapp:instrument' inst_key %}" id="dropdown"{{ inst_key }} aria-haspopup="true" aria-expanded="false">{{ inst_key }}</a>
		            	<div class="dropdown-menu" aria-labelledby="dropdown01">
			            	<a class='dropdown-heading mx-3'>Images</a>
			            	<a class="dropdown-item" href="{% url 'jwql_webapp:unlooked' inst_key %}">Unlooked Images</a>
			            	<a class="dropdown-item" href="#">Image Anomalies</a>
			            	<a class="dropdown-item" href="{% url 'jwql_webapp:archive' inst_key %}">Archived Images</a>
			            	<div class="dropdown-divider"></div>
			            	<a class='dropdown-heading mx-3'>Monitors</a>
			            	{% for tool in inst_tools %}
			              		<a class="dropdown-item" href="#">{{ tool }}</a>
			              	{% endfor %}
		            	</div>
		          	</li>
		      		{% endfor %}
	        	</ul>
	        </div>

	    	<a class="navbar-right" href="https://github.com/spacetelescope/jwql" target="_blank"><img src="{% static 'jwql_webapp/images/githublogo.svg' %}" height=25 width=25></a>
	    </nav>
	    <div class="banner">
	    	<img src="{% static 'jwql_webapp/images/hubble_image.jpg' %}">
	    </div>

    	{% block content %}
        {% endblock %}

		<footer class="footer text-center">
	      	<div class="container">
	      		<a href="http://www.stsci.edu/" target="_blank">
	        		<img src="{% static 'jwql_webapp/images/STScIlogo_dark.png' %}"  height=36>
	        	</a>
	      	</div>
	    </footer>


	    <!-- Needed javascript -->
	    <!-- IMPORTANT: jQuery first, then popper, then Bootstrap -->
		<script src="{{ staticURL }}js/jquery-3.3.1.min.js?{% now 'U' %}"></script>
		<script src="{{ staticURL }}js/popper.min.js?{% now 'U' %}"></script>
		<script src="{{ staticURL }}js/bootstrap.bundle.min.js?{% now 'U' %}"></script>
	</body>
</html>
