/*Don't let the search bar be super long*/
.input-group {
    width: 250px;
}

/*Stop the search box from glowing blue*/
.form-control:focus {
    box-shadow: none;
    border-color: #cfd4da;
}

/*Make the search icon look like a button*/
.input-group-text {
    background-color: #c85108 !important;
    border-color: #c85108 !important;
    color: white !important;
    border-radius: 0px;
}

/*Define the proposal thumbnails*/
.proposal {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0.1rem;
}
.proposal img {
    filter: grayscale(100%);
}

/*Make sure the thumbnails are actually vertically centered*/
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*Format the proposal number and number of files*/
.thumbnail_info {
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: left;
    color: white;
    z-index: 2;
    font-size: 0.75rem;
}
/*Format the color background*/
.color-fill {
    width: 100%;
    height: 100%;
    background-color: #356198;
    opacity: 0.3;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}