{% extends "base.html" %}

{% block preamble %}

	<title>Home - JWST Quicklook</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h2>Welcome to the JWST Quicklook page.</h2>
    	The James Webb Quicklook Application (JWQL) is a database-driven web application and software repository for use by the JWST instrument teams.

    	<div class="row my-2" style="margin-left: 7rem; margin-right: 7rem;">
    		<div class="col-md-6 py-2"><a class="btn btn-block btn-primary" role="button" href={{ url('jwql:dashboard') }}>Dashboard</a></div>
			<div class="col-md-6 py-2"><a class="btn btn-block btn-primary disabled" role="button" href="#">Query Database</a></div>
		</div>

        <!-- <div class='instrument_header'>
            <h3 style="text-align: left; color: white">Instruments</h3>
        </div> -->
    	<div class="instrument_select">
            <!-- <h3 style="text-align: left; color: white">Instruments</h3>
            <hr> -->
	    	<div class="d-flex justify-content-between">
				{% if inst_list %}
					{% for inst in inst_list %}
						<!-- <div class="col-md-2 text-center"> -->
							<a class='instrument_panel' href={{ url('jwql:instrument', args=[inst]) }}>

                                <!-- <p class="btn btn-primary" role="button">{{ inst }}</p> -->
                                <p class="instrument_name">{{ inst }}</p>
                                <!-- <h4>{{ inst }}</h4> -->
                                <div class="frame">
                                <!-- <p class="btn btn-primary" role="button">{{ inst }}</p> -->
<!--  -->
                                    <span class="helper"></span><img src="{{ static('') }}img/{{ inst }}logo.png" width=100 style="vertical-align: middle">
                                </div><br>

							</a>
						<!-- </div> -->
					{% endfor %}
				{% else %}
					<p>No instruments are available.</p>
				{% endif %}
			</div>
		</div>
	</main>

{% endblock %}