
.bk-root .bk-slider-parent input[type="text"] {
  display: inline-block;
  border: 0;
  font-weight: 600;
  margin-left: 4px;
  font-size: 93px;
  vertical-align: text-bottom;
  padding: 0;
  min-width: 20px;
  /* Add in defaults to counteract bokehplots.com css */
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inherit;
  box-sizing: inherit;
  font-family: inherit;
  margin-bottom: inherit;
  transition: inherit;
  width: inherit;
}
