{% extends "base.html" %}

{% block preamble %}

    <title>About - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
        <div style="text-align: center"><img src={{ static('img/JWQLlogo.png') }} width=350px></div><br>
        <hr>

        <h4>About the project</h4>

        The JWST Quicklook Application (JWQL) is a database-driven web application and automation framework for use by the JWST instrument teams to monitor the health and stability of the JWST instruments. Developed in Python, it exists within a private <a href="https://github.com/spacetelescope/jwql" target="_blank">GitHub repository</a>. The team actively strives to adhere to software engineering best practices, strictly following defined workflows and Python style guides.<br><br>

        The project consists of the following components:<br><br>

        <div style='text-align: center'><img src={{ static('img/jwql_project.png') }} width=80%></div><br>

        The JWQL application is currently under heavy development. The 1.0 release is expected in 2019.<br><br>

        The list of automated monitors that the JWQL team is currently planning to develop, in collaboration with each instrument team, can be found on <a href="https://innerspace.stsci.edu/display/JWQLPROJ/Instrument+Monitor+Overview" target="_blank">Innerspace</a>.

        <br><br>
        <h4>Current Development Team</h4>
        The JWQL project is being actively developed by the following team members:

        <ul>
            <li>Matthew Bourque (Technical Lead)</li>
            <li>Francesca Boffi (Project Manager)</li>
            <li>Lauren Chambers (FGS)</li>
            <li>Misty Cracraft (MIRI)</li>
            <li>Joseph Filippazzo (NIRISS)</li>
            <li>Bryan Hilbert (NIRCam)</li>
            <li>Graham Kanarek (NIRSpec)</li>
            <li>Catherine Martlin (WFC3)</li>
            <li>Sara Ogaz (DATB)</li>
            <li>Johannes Sahlmann (NIRISS/FGS)</li>
        </ul>

        <br>
        <h4>Contact</h4>
        If you have discovered an issue with the functionality of the JWQL application, we ask that you please <a href="https://github.com/spacetelescope/jwql/issues" target="_blank">submit an issue</a> on our GitHub repository. Any other questions, comments, or concerns can be directed to <a href='jwql@stsci.edu'>jwql@stsci.edu</a>.<br><br>

        <h4>Acknowledgements</h4>

        The JWQL project would not be possible without the contributions of the following individuals:

        <ul>
        {% for person in acknowledgements %}
            <li>{{ person }}</li>
        {% endfor %}
        </ul>

    </main>

{% endblock %}