{% extends "base.html" %}

{% block preamble %}

    <title>About - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
        <div style="text-align: center"><img src={{ static('img/jwql_logo_full_transparent.png') }} width=350px alt="The JWQL logo" title="The JWQL logo"></div><br>
        <hr>

        <h4>About the project</h4>

        <br>

        <div style='text-align: center'>
            <img src={{ static('img/jwql_overview.png') }}
                 width=70%
                 alt="JWQL overview"
                 title="">
        </div><br>

        The JWST Quicklook Application (JWQL) is a Python-based web application and automation framework for use by the JWST instrument teams to monitor the health and stability of the JWST instruments. Please see the <a href="https://github.com/spacetelescope/jwql" target="_blank">GitHub repository</a> for information on the latest development. The team actively strives to adhere to software engineering best practices, strictly following defined workflows and Python style guides.<br><br>

        The project uses the following technologies:<br><br>

        <div style='text-align: center'>
            <img src={{ static('img/jwql_technologies.png') }}
                 width=50%
                 alt="JWQL technologies"
                 title="">
        </div><br>

        The JWQL application is currently under heavy development. The 1.0 release is expected in the fall of 2021.<br><br>

        API documentation can be found on <a href="https://jwql.readthedocs.io/en/latest/" target="_blank">readthedocs</a>.<br><br>

        Below is the list of automated monitors that the JWQL team has or is currently planning to develop, in collaboration with each instrument team.  Further information can be found on <a href="https://innerspace.stsci.edu/display/JWQLPROJ/Instrument+Monitor+Overview" target="_blank">Innerspace</a>.

        <div style='text-align: center'>
            <img src={{ static('img/jwql_instrument_monitors.png') }}
                 width=100%
                 alt="JWQL instrument monitors"
                 title="">
        </div><br>

        <br><br>
        <h4>The Development Team</h4>
        The JWQL project is being actively developed by the following team members:

        <div style='text-align: center'>
            <img src={{ static('img/jwql_dev_team.png') }}
                 width=70%
                 alt="The JWQL Development Team"
                 title="">
        </div><br>

        <br>
        <h4>Contact</h4>
        If you have discovered an issue with the functionality of the JWQL application, we ask that you please <a href="https://github.com/spacetelescope/jwql/issues" target="_blank">submit an issue</a> on our GitHub repository. Any other questions, comments, or concerns can be directed to <a href='jwql@stsci.edu'>jwql@stsci.edu</a>.<br><br>

        <h4>Acknowledgements</h4>

        The JWQL project would not be possible without the contributions of the following individuals:

        <ul>
        {% for person in acknowledgements %}
            <li>{{ person }}</li>
        {% endfor %}
        </ul>

        <h4>Other attributions:</h4>
        <ul>
            <li>This website aims to be accessibile via 508 complience.
            <li>The loading animation 'magnify' is provided by <a href="https://loading.io">loading.io</a></li>
        </ul>

    </main>

{% endblock %}
