<!doctype html>
<html lang="en">

	<head>

		<!-- JWQL Icon as website image -->
		<link rel="shortcut icon" href="{{ static('img/favicon.ico') }}?{% now 'U' %}" />

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}?{% now 'U' %}">

		<!-- Custom styles for this template -->
		<link href="{{ static('css/jwql.css') }}?{% now 'U' %}" rel="stylesheet">
		<link href="{{ static('css/sticky-footer.css') }}?{% now 'U' %}" rel="stylesheet">
		<link href="{{ static('css/loader-magnify.css') }}?{% now 'U' %}" rel="stylesheet">

		<!-- Import fonts -->
		<link href="https://fonts.googleapis.com/css?family=Oswald:700|Overpass" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!-- Needed javascript -->
		<!-- IMPORTANT: jQuery first, then popper, then Bootstrap -->
		<script src="{{ static('js/jquery-3.3.1.min.js') }}?{% now 'U' %}"></script>
		<script src="{{ static('js/tinysort.min.js') }}?{% now 'U' %}"></script>
	    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
	    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
		<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"></script>
		<script src="{{ static('js/jwql.js') }}?{% now 'U' %}"></script>

		{% block preamble %}
        {% endblock %}


	</head>

	<body>

		<!-- Navigation Bar -->
		<nav class="navbar navbar-dark navbar-expand-xl fixed-top">

			<!-- Logo and Project Name -->
		    <a class="navbar-brand" href={{ url('jwql:home') }}>
				<img src={{ static('img/jwql_logo_short_transparent.png') }}
					 height=35
					 width=35
					 alt="JWQL Logo"
					 title="JWQL Logo">
				<span style="padding: 0.5rem;">JWQL</span>
				{% if inst != "" %}
					<font color='#f2ce3a'>{{ inst }}</font>
				{% endif %}
			</a>

			<!--Make navbar collapsible when page shrinks-->
	        <button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#instrument_menus" aria-controls="instrument_menus"
					aria-expanded="false" aria-label="Toggle navigation">
	          MENU <span class="navbar-toggler-icon"></span>
	        </button>

			<!-- Menu pages -->
	        <div class="collapse navbar-collapse" id="instrument_menus">
	        	<ul class="navbar-nav mr-auto">
					<!--Home-->
	          		<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:home') }}>Home<span class="sr-only">(current)</span></a>
	          		</li>
					<!--About-->
	          		<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:about') }}>About<span class="sr-only">(current)</span></a>
	          		</li>
					<!--Dashboard-->
	          		<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:dashboard') }}>Dashboard<span class="sr-only">(current)</span></a>
	          		</li>
					 <!--JWQLDB-->
					<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:jwqldb') }}>JWQLDB<span class="sr-only">(current)</span></a>
					  </li>
		      		<!--EDB-->
		      		<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:edb') }}>EDB<span class="sr-only">(current)</span></a>
					  </li>
					 <!--API-->
					<li class="nav-item active">
	            		<a class="nav-link" href={{ url('jwql:api') }}>API<span class="sr-only">(current)</span></a>
	          		</li>
	          		<!--Documentation-->
		      		<li class="nav-item active">
	            		<a class="nav-link" href="https://jwql.readthedocs.io/en/latest/" target="_blank" rel="noopener noreferrer">Documentation<span class="sr-only">(current)</span></a>
	          		</li>
	          		{% for inst_key, inst_tools in tools.items() %}
						<li class="dropdown">
							<!--Show dropdown links when navbar is NOT collapsed-->
							<a class="nav-link dropdown-toggle d-none d-xl-block"
							   href={{ url("jwql:instrument", args=[inst_key]) }}
							   aria-haspopup="true"
							   aria-expanded="false">
								{{ inst_key }}
							</a>

							<!--Show dropdown buttons when navbar is collapsed-->
							<a class="nav-link dropdown-toggle d-xl-none"
							   data-toggle="dropdown"
							   aria-haspopup="true"
							   aria-expanded="false">
								{{ inst_key }}
							</a>

							<div class="dropdown-menu" aria-labelledby="dropdown-{{ inst_key }}">
								<a class='dropdown-heading mx-3'>Images</a>
								<!-- <a class="dropdown-item disabled-dropdown" href='#'>Unlooked Images</a> -->
								<!-- <a class="dropdown-item disabled-dropdown" href="#">Image Anomalies</a> -->
								<a class="dropdown-item" href={{ url('jwql:archive', args=[inst_key]) }}>Archived Images</a>
								<a class="dropdown-item" href={{ url('jwql:archive_date_range', args=[inst_key]) }}>Date Range Images</a>
								<div class="dropdown-divider"></div>
								<a class='dropdown-heading mx-3'>Monitors</a>
									{% for monitor_name, monitor_url in inst_tools %}
										{% if not monitor_url == '#' %}
											<a class="dropdown-item" href="{{ monitor_url }}">{{ monitor_name }}</a>
										{% endif %}
									{% endfor %}
								<div class="dropdown-divider"></div>
								<a class='dropdown-heading mx-3'>Documentation</a>
								<a class="dropdown-item" href="{{ url_dict[inst_key] }}">{{ inst_key.upper() }} Docs</a>
							</div>
						</li>
		      		{% endfor %}

					<!--Show GitHub link when navbar is collapsed-->
	            	<li class="nav-item active d-xl-none">
						<a id="github-link"
						   class="nav-link"
						   href="https://github.com/spacetelescope/jwql"
						   target="_blank">
							GitHub Repository
							<img src={{ static('img/githublogo.svg') }}
								 height=20
								 width=20
								 style="margin-left: 0.5rem; margin-bottom: 0.4rem;"
								 alt="GitHub Logo"
								 title="GitHub Logo">
						</a>
					</li>
	        	</ul>
	    	</div>


			<!--Show GitHub button when navbar is NOT collapsed-->
			<ul class="navbar-nav ml-auto d-none d-xl-block">
            	<li class="nav-item active d-none d-xl-block">
					<a id="github-link"
					   class="nav-link"
					   href="https://github.com/spacetelescope/jwql"
					   target="_blank">
						<img src={{ static('img/githublogo.svg') }}
							 height=35
							 width=35
							 alt="GitHub Logo"
							 title="GitHub Logo">
					</a>
				</li>
			</ul>


	    </nav>


	    <div class="banner">
	    	<img src={{ static('img/hubble_image.jpg') }}
				 alt="">
	    </div>

		<div id="main_content"></div>

		<!--Handle incoming messages-->
		{% for message in messages %}
		<div class="container-fluid p-0">
		  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
			<script>
				setTimeout(function () {
					$('.alert').alert('close');
				}, 5000);
			</script>
		  </div>
		</div>
		{% endfor %}

    	{% block content %}
        {% endblock %}

		<footer class="footer text-center">
	      	<div class="container">
	      		<a href="http://www.stsci.edu/" target="_blank">
	        		<img src={{ static('img/STScIlogo_dark.png') }}
						 height=36
						 alt="STScI Logo">
	        		<img src={{ static('img/JWSTlogo.png') }}
						 height=36
						 alt="JWST Logo">
	        	</a>
     	      	<div id='version-div'>
	        		<p id="version_number"></p>
	        		   <script>document.getElementById("version_number").innerHTML = version_url('{{version}}');</script>
	      	     	</p>
	      	    </div>
	      	</div>
	    </footer>


	    <!-- Needed javascript -->
	    <!-- IMPORTANT: jQuery first, then popper, then Bootstrap -->
		<script src="{{ static('js/popper.min.js') }}?{% now 'U' %}"></script>
		<script src="{{ static('js/bootstrap.bundle.min.js') }}?{% now 'U' %}"></script>

		<!-- IMPORTANT: Renders coding blocks in webpages. -->
		<link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

		<!-- Needed javascript -->
	    <!-- IMPORTANT: Needed for rendering Datatables in JWQLDB Viewer -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sl-1.3.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sl-1.3.1/datatables.min.js"></script>

		<!-- Needed javascript -->
		<!-- IMPORTANT: needed for EDB plots -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>
