{% extends "base.html" %}

{% block preamble %}

	<title>{{ inst }} Dark Monitor- JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">

		<h1>{{ inst }} Dark Monitor</h1>
		<hr>

		<!--Deal with the fact that only the NIRCam database is populated-->
		{% if inst == 'NIRCam' %}

			<div width=100%>
				<!--Add Bokeh HTML-->
				{{ tabs_components[0] | safe }}
			</div>

			<!--Add Bokeh scripts-->
			{{ tabs_components[1] | safe }}


		{% else %}

			The dark current monitor is not yet implemented for this instrument.

		{% endif %}

	</main>

{% endblock %}
