{% extends "base.html" %}

{% block preamble %}

	<title>Dashboard - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class='dashboard'>

        <h1 style="text-align: center">JWQL Dashboard</h1>
        <hr>

        <p>
            The JWQL dashboard provides users with a "high level" status status of our systems and tools. Here we provide some analytics and 
            statistics for the JWQL filesystem as well as the status of the instrument monitors. The figures below are interactive and some provide
            more detailed information if you hover over them and will take you to other landing pages within the application if clicked.
        </p>

         <body>
            {{ div | safe }}
            {{ script | safe }}
        </body>

    </main>

{% endblock %}
