{%extends "base.html" %}

{% block content %}
<!doctype html>
<script type="text/javascript">
    /* Courtesy of Natasha and Joe */
    $(document).ready(function(){
      /*  $("select").select2({
            theme: "bootstrap",
            width: "100%",
            minimumResultsForSearch: 7
        });  */

        $("#ins").change(function () {
            $("#miri_filt, #nirspec_filt, #niriss_filt, #nircam_filt, #miri_filt_ta, #nirspec_filt_ta, #niriss_filt_ta, #nircam_filt_ta, #miri_sub, #nirspec_sub, #niriss_sub, #nircam_sub, #miri_sub_ta, #nircam_sub_ta, #niriss_sub_ta, #nirspec_sub_ta").hide(); 
            var selopt = $("#ins").val();
            switch (selopt) {
                case "miri":
                    $("#miri_filt").show();
                    $("#miri_filt_ta").show();
                    $("#miri_sub").show();
                    $("#miri_sub_ta").show();
                    break;
                case "nirspec":
                    $("#nirspec_filt").show();
                    $("#nirspec_filt_ta").show();
                    $("#nirspec_sub").show();
                    $("#nirspec_sub_ta").show();
                    break;
                case "niriss":
                    $("#niriss_filt").show();
                    $("#niriss_filt_ta").show();
                    $("#niriss_sub").show();
                    $("#niriss_sub_ta").show();
                    break;
                case "nircam":
                    $("#nircam_filt").show();
                    $("#nircam_filt_ta").show();
                    $("#nircam_sub").show();
                    $("#nircam_sub_ta").show();
                    break;
            }
        });
    });
</script>

<div class='form-group'>
    <form method="POST" action="." name="dynamicanomalyform">
        <h1>Dynamic Anomaly Form</h1>
            {{ csrf_input }}
            <p> In progress dynamic anomaly query form.... currently uses much of exoctk's framework </p> 

            <form class='form-horizontal' id='searchform' method='post'>

                <hr class="col-md-12">
        
                <div class='form-group'>
        
                    <label for='aper' class="col-sm-2 control-label">Anomaly Query Parameters</label>
                    
                    
                    <div class="col-sm-10">
                    <label for='ins' class="col-sm-2 control-label">The JWST Instrument(s)</label>
                    <div class="col-sm-3">
                        <select class='form-control' style='width:186px;'>
                            {% for option in form.instrument %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                    
                    
                    
                    
                    <div class="col-sm-10">
                        <span id="helpBlock" class="help-block">Aperture(s) used</span>
                        <div class="input-group">
                            {% for field in form.aperture %}
                                <div class="col-sm-10">{{ field        }}     </div>
                            {% endfor %}
                            <div class="input-group-addon" style='width:60px'></div>
                        </div>
                        
                        <br>
                        {% for error in form.aperture.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
        

        
                
                    <div class="col-md-12 dropdown">
                        <div class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ "  Select filter(s)   " }}
                            <span class="caret"></span>
                        </div>     
                            <div class="dropdown-menu" style="color: rgb(255, 117, 6)">
                                {% for field in form.filter %}
                                <div>
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                    </div>



                <hr class="col-md-12">
                <div class='form-group'>
        
                    <label for='exptime' class="col-sm-2 control-label">Minimum Exposure Time</label>
                    <div class="col-sm-10">
                        <div class="input-group" style='float:left;'>
                            {{ form.exp_time_min }}
                        </div>
                        <br>
                        {% for error in form.exp_time_min.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                </div>
                <div class='form-group'>
        
                    <label for='exptime' class="col-sm-2 control-label">Maximum Exposure Time</label>
                    <div class="col-sm-10">
                        <div class="input-group" style='float:left;'>
                            {{ form.exp_time_max }}
                        </div>
                        <br>
                        {% for error in form.exp_time_max.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                </div>
        
                <hr class="col-md-12">


                <div class='form-group' id="instrument-mode-section">
        
                    <label for='filt' class="col-sm-2 control-label">Filter MIRI</label>
                    <div class="col-sm-3" id="miri_filt" >
                        <select class='form-control' name="miri_filt" style='width:186px;'>
                            {% for option in form.miri_filt %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                    </div>
                <div class='form-group' id="instrument-mode-section">
        
                    <label for='filt' class="col-sm-2 control-label">Filter NIRCam</label>
                    <div class="col-sm-3" id="nircam_filt">
                        <select class='form-control' name="nircam_filt" style='width:186px;'>
                            {% for option in form.nircam_filt %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                    </div>
        
                    <label for='filt' class="col-sm-2 control-label">Filter NIRSpec</label>
                    <div class="col-sm-3" id="niriss_filt" style="display:none;">
                        <select class='form-control' name="niriss_filt" style='width:186px;'>
                            {% for option in form.niriss_filt %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                    </div>
        
                    <div class="col-sm-3" id="nirspec_filt" style="display:none;">
                        <select class='form-control' name="nirspec_filt" style='width:186px;'>
                            {% for option in form.nirspec_filt %}
                                <div class='radio'>
                                    {{ option }}
                                </div>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-10 col-sm-offset-2">
                    </div>
                </div>

                <hr class="col-md-12">
                
                <div class='form-group'>
                    <input type="submit" value="Submit" class="btn btn-primary" name="dynamicanomalyform" />
                </div>
        
    
{% endblock %}