{% extends "base.html" %}

{% block preamble %}

	<title>Home - JWQL</title>

    <!-- Custom styles and scripts for this template -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h2 style="text-align:center">The JWST Quicklook Application</h2>
        <hr>

    	<div class="instrument_select">
            {# <h3 style="text-align: center; color: black">Instruments</h3> #}

	    	<div class="d-flex justify-content-between">
				{% for inst in inst_list %}
					<a class='instrument_panel' href={{ url('jwql:instrument', args=[inst]) }}>

                        <div class="instrument_frame">

                            <span class="helper"></span><img src="{{ static('') }}img/{{ inst }}logo.png" 
                                                             width=150px
                                                             alt = " Logo link to {{ inst }}" 
                                                             title = " Logo link to {{ inst }}" >
                            <span class="helper"></span><span class='instrument-name'><br>{{ inst }}</span>
                            <div class='instrument-color-fill' ></div>

                        </div><br>

					</a>
				{% endfor %}
			</div>
		</div>

        <br>
        The JWST Quicklook Application (JWQL) is a database-driven web application and automation framework for use by the JWST instrument teams to monitor the health and stability of the JWST instruments.
        Visit our <a href={{ url('jwql:about') }}>about page</a> to learn more about the project.<br><br>

        The JWQL application is currently under heavy development. The 1.0 release is expected in the fall of 2021.

        <hr>

        <h4>Find a JWST Proposal or File</h4>

        Submit a proposal number (e.g. 01014, 1078) or file root (e.g. jw01014005001_02101_00001_guider1) to view that proposal or file. Select an instrument from the dropdown:
        
          <!--Load the instrument selection form from the view-->
<!--         <form action="" method="post" id="instrument_drop">
            {{ drop_form }}
        </form>
        
        <hr> -->

        <!--Load the file search form from the view-->
        <form action="" method="post" id="homepage_filesearch">
            <fieldset>
                <!--Show any errors from a previous form submission-->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <!--Django Cross-Site Request Forgery magic-->
                {{ csrf_input }}

                <!--Show the field forms-->
                {% for field in form %}
                    <div class="homepage_form_fieldWrapper">
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            </fieldset>
        </form>

        <hr>

        <h4>Query the Archive</h4>

        <a role="button" class="btn btn-primary my-2" type="submit" href={{ url( 'jwql:anomaly_query' ) }}>Enter Query Form</a>

        <hr>

        <h4>Found a bug or have a feature request?</h4>

        <a role="button" class="btn btn-primary my-2" type="submit" href="https://github.com/spacetelescope/jwql/issues/new/choose">Submit an Issue</a>

	</main>

{% endblock %}
