{% extends "base.html" %}
{% block preamble %}

	<title>{{ inst }} Home - JWQL</title>

{% endblock %}

{% block content %}

<style>
	div.container {
		border: 2px solid grey;
		border-radius: 8px;
		height: auto;
		width: auto;
	  }
</style>

    <main role="main" class="container" id="instrument_main">
    	<h1 style="text-align: center">
			<img src="{{ static('') }}/img/{{inst.lower()}}logo.png"
				 width=40
				 style="vertical-align: middle; max-width: 40; max-height: 40"
				 alt="{{ inst }} Logo"
				 title="{{ inst }} Logo">
			{{ inst }}
		</h1>
		</br>

        <hr>

    	<!-- List all possible tools -->
    	<div class="row">
			<div class="container">
				<div class="col-md-20 text-center">
					<h2>Archive</h2>
					<i class="fas fa-database fa-10x"></i>
					<hr>
					<p> Access available images for {{ inst }} here. </p>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Images
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						  <!-- <a class="dropdown-item" href={{ url('jwql:unlooked', args=[inst]) }}>Unlooked Images (Currently Unavailable)</a> -->
						  <!-- <a class="dropdown-item" href="#">Image Anomalies (Currently Unavailable)</a> -->
						  <a class="dropdown-item" href={{ url('jwql:archive', args=[inst]) }}>Archived Images</a>
						  <a class="dropdown-item" href={{ url('jwql:date_range', args=[inst]) }}>Date Range Images</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="col-md-20 text-center">
					<!-- Monitors -->
					<h2>Monitors</h2>
					<i class="far fa-chart-bar fa-10x"></i>
					<hr>
					<p>Explore the {{ inst }} instrument monitoring suite. </p>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Monitors
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							{% for key, inst_tools in tools.items() %}
								{% if key == inst.lower() %}
									{% for monitor_name, monitor_url in inst_tools %}
										{% if not monitor_url == '#' %}
											<a class="dropdown-item" href="{{ monitor_url }}">{{ monitor_name }}</a>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="col-md-20 text-center">
					<!-- Documentation -->
					<h2>Documentation</h2>
					<i class="fas fa-book fa-10x"></i>
					<hr>
					<p>View {{ inst }} JWST Documentation (JDOX) here.</p>
					<a class="btn btn-primary my-2"
					   role="button"
					   href= {{doc_url}}
					   target="_blank"
					   rel="noopener noreferrer">
						{{ inst }} Documentation
					</a>
					</br>
				</div>
			</div>
			
		</div>

	</main>

{% endblock %}
