{% extends "base.html" %}

{% block preamble %}

	<title>Interactive Database Viewer - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h2>Explore JWQL database tables through the web browser</h2><hr>

        <p align="justify">
        This page provides users to interactively explore the JWQL database tables.  Simply select a table from the dropdown menu.
        </p><br>

        <form action="" method="post" id="view_db_table">
            {{ csrf_input }}
            <!--DB TABLE DROPDOWN-->
            <h4>Select JWQL Database Table</h4>
            <div class="db_table_select">
                <select name="db_table_select" id="db_table_select">
                    {% for instrument in all_jwql_tables %}
                    <optgroup label="{{ instrument }}">
                        {% for table in all_jwql_tables[instrument] %}
                            <option value="{{ table }}">{{ table }}</option>
                        {% endfor %}
                    {% if tablename %}
                        <option value="{{ tablename }}" selected>{{ tablename }}</option>
                    {% endif %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            <button name=make_table_view class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            <br><br>

            <!-- If tablename is passed, render table. -->
            <!-- Table is not rendered when coming from home/monitor views -->
            {% if table_name %}
                <h4> {{ table_name|safe }} </h4><hr>
                <a href="export" name=download_data class="btn btn-primary my-2" type="submit">Download Data</a>
                <table id="jwqltable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in table_columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_rows %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% for column in table_columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        </form>

	</main>

    <!-- JS for datatables rendering and sorting with DataTables. -->
    <script>
        $(document).ready(function() {
            $('#jwqltable').DataTable();
        } );
    </script>

    <!-- JS AND HTML FOR MULTILAYER DROPDOWN -->
    <!--
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            JWQL Monitor Tables
        </button>
        
        <ul class="dropdown-menu">
            {% for instrument in all_jwql_tables %}
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">{{ instrument.upper() }}</a>
                    <ul class="dropdown-menu dropdown-menu-right"> 
                        {% for table in all_jwql_tables[instrument] %}
                            <li value="{{ table }}"><a class="dropdown-item" href="#">{{ table }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
              $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');
          
          
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
              $('.dropdown-submenu .show').removeClass('show');
            });
          
          
            return false;
          });
    </script>
    //-->

{% endblock %}