{% extends "base.html" %}

{% block preamble %}

	<title>Interactive Database Viewer - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h2>Explore JWQL database tables through the web browser</h2><hr>

        <p align="justify">
        This page provides users to interactively explore the JWQL database tables.  Simply select a table from the dropdown menu.
        </p><br>

        <form action="" method="post" id="view_db_table">
            {{ csrf_input }}
            <!--DB TABLE DROPDOWN-->
            <h4>Select JWQL Database Table</h4>
            <div class="db_table_select">
                <select name="db_table_select" id="table_name">
                    {% for tablename in all_jwql_tables %}
                        <option value="{{ tablename }}">{{ tablename }}</option>
                    {% endfor %}
                </select>
            </div>
            <button name=make_table_view class="btn btn-primary" type="submit"><span class="fas fa-search"></span></button>
            <br><br>

            {% if table_name %}
                <h4> {{ table_name|safe }} </h4><hr>
                <button name=download_data class="btn btn-primary my-2">Download Data</button>
                <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in table_columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_rows %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% for column in table_columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            {% endif %}
        </form>

	</main>

    <!-- JS for datatables rendering and sorting. -->
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
{% endblock %}