{% extends "base.html" %}

{% block preamble %}

	<title>Monitor Log Viewer - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h2>Explore JWQL monitoring logs through the web browser.</h2><hr>

        <p align="justify">
            This page allows users to load monitoring logs into the web browsers. This feature
            obtains logs from all JWQL servers (ops, dev, and test). 

            <br><br>
        </p>

        <hr>
        <form action="" method="post" id="view_log">
            {{ csrf_input }}

            <!--LOG SELECT DROPDOWN-->
            <h4>Select JWQL Monitoring Log</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ops" value={{servers}}>
                <label class="form-check-label" for="inlineRadio1">ops </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="test" value={{servers}}>
                <label class="form-check-label" for="inlineRadio1">test </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dev" value={{servers}}>
                <label class="form-check-label" for="inlineRadio1">dev </label>
            </div>
            <br>

            <div class="col-6 mx-auto text-center mt-5">
                <input type="text" placeholder="Log Name" class="form-control">
                <datalist id="logs">
                    {% for log_name in all_logs["dev"] %}
                        <option value="{{ all_logs[server][log_name] }}">{{ log_name }}</option>
                    {% endfor %}
                </datalist>
            </div>

            <br>
            <button class="btn btn-primary" type="submit" style="float: left;">Submit</button>
            <br><br>

            <!-- If log is passed, render log. -->
            <!-- Log is not rendered when coming from home/monitor views -->
            {% if log_text %}
                <h4> {{ log_name|safe }} </h4><hr>
                <!-- Show Logs here -->
                <pre>
                    {{ log_text }}
                </pre>
            {% endif %}
    </main>

{% endblock %}