{% extends "base.html" %}

{% block preamble %}

	<title> Monitor Logs </title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
        <h1 style="text-align: center"> Monitor Logs </h1>

    		<div class="center horizontal">
    		{% for types in log_type_dir %}
	    		<h3 style="text-align: center" > {{types}}</h3>
			  	{% for sectname in sect %}
    				<a style="text-align: center" role="button" class="btn btn-primary my-2" href={{ url('jwql:view_log', args=[types,sectname]) }}> {{sectname}} </a>
    			{% endfor %}
    		{% endfor %}
			</div>

	</main>

{% endblock %}