{% extends "base.html" %}

{% block preamble %}

	<title> Monitor Logs </title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
        	<h1 style="text-align: center"> Monitor Logs </h1></br>
        <hr>

    	<!-- List all possible tools -->
    	<div class="row">
    		<div class="col-md-6 text-center">
    		{% for type_name in log_type_dir %}
	    		<h3>{{type_name}}</h3>
			  	{% for sect_name in sect %}
    				<a role="button" class="btn btn-primary my-2 disabled" href="#">{{sect_name}}</a></br>
    			{% endfor %}
			</div>
			{% endfor %}
		</div>

	</main>

{% endblock %}