<!--This line tells the HTML file to read the contents of base.html before
loading the contents of WEBPAGE_TEMPLATE.html-->
{% extends "base.html" %}


<!--The "preamble" block below contains content that goes in the page <head> tag-->
{% block preamble %}

    <!--Put the webpage title here:-->
    <title>MIRI Mnemonic Trending - JWQL</title>

{% endblock %}

<!--The "content" block below contains content that goes in the page <body> tag-->
{% block content %}

    <main role="main" class="container mnemonic_trending_main">

        <!--Mandatory JAVA-Scrips needet for the anomaly table-->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>

      <div id="header">
        <!--Add a heading-->
        <h1>MIRI data-trending monitors</h1>
        <!--Horizontal line-->
        <hr>
        <!--Include an image located at jwql/website/apps/jwql/static/img/-->
        <div style="text-align: center">
          <img src={{ static('img/jwql_logo_full_transparent.png') }}
               width=20%
               alt="JWQL Logo"
               title="JWQL Logo">
        </div>
        <br>
      </div>

      <p id= "description">
        <h2>How it works</h2>
        The MIRI data-trending dashboard is prepared for instrument engineers to keep
        tracking the trend of relevant parameters. A software behind processes a daily chunk of data and
        calculates average and deviation of all engineering values that correspond to specific
        mnemonic identifiers. The outcome is stored in a seperate database and shown on
        the dashboard below. Since a cron job populates the database over time, the app
        allows to keep track of the general value trend caused by degadiation and radiation.
        <br>
        <br>

      </p>

      <hr>
        <a href="#PostAnomaly">Click here to jump to the anomaly section.</a>

      <!--Brokeh element includes all Tabs with all mnemonics-->
      <div id="bokeh">
        <head>
          <title>Bokeh Scatter Plots</title>
        </head>

        <body>
          <div id="plot1">
              {{ dashboard[0] | safe }}
          </div>
        </body>

        <div id="script1">
          {{ dashboard[1] | safe }}
        </div>
      </div>

      <!--Add Anomaly section-->
      <div id="PostAnomaly" class="container">
        <form action="/miri/miri_data_trending/" method="post">

          <table style="width:100%">
              <tr>
                <td colspan="2">
                    Please provide a description of all anomaly encountered
                </td>
                <td rowspan="6">
                    {{ formAdd.comment }}
                </td>
              </tr>
              <tr>
                <td>
                    {{ formAdd.name.label }}
                </td>
                <td>
                    {{ formAdd.name }}
                </td>
              </tr>
              <tr>
                <td>
                    {{ formAdd.starttime.label }}
                </td>
                <td>
                    {{ formAdd.starttime }}
                </td>
              </tr>
              <tr>
                <td>
                    {{ formAdd.endtime.label }}
                </td>
                <td>
                    {{ formAdd.endtime }}
                </td>
              </tr>
              <tr>
                <td>
                    {{ formAdd.select_plot.label }}
                </td>
                <td>
                    {{ formAdd.select_plot }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                       <!--Django Cross-Site Request Forgery magic-->
                        {{ csrf_input }}

                    <button type="submit" name="_newItem">Submit new anomaly</button>

                </td>
              </tr>
            </table>
        </form>

        <!--Delete anomaly section-->
        <form action="/miri/miri_data_trending/" method="post">
            <table style="width:100%">
                <tr>
                    <td>
                       {{ formDelete.ID.label }}
                    </td>
                    <td>
                        {{ formDelete.ID }}
                    </td>
                    <td>
                        {{ csrf_input }}
                        <button type="submit" name="_deleteItem">Delete anomaly</button>
                    </td>
                </tr>
            </table>
        </form>
      </div>

        <a href="#header">jump back up?</a>


     </main>

{% endblock %}