{% extends "base.html" %}
{% block preamble %}

    <title>MIRI Data Trending - JWQL</title>

{% endblock %}

{% block content %}

  <main role="main" class="container mnemonic_trending_main">

    <div id="header">
      <h1>MIRI Data Trending Monitor</h1>
      <hr>

      <p id="description">
        <h2>How it works</h2>
        The MIRI data trending dashboard is prepared for instrument engineers to keep
        tracking the trend of relevant parameters. A back-end software processes a daily chunk
        of data and calculates averages and deviations of all engineering values that correspond
        to specific mnemonic identifiers. The outcome is stored in a seperate database and shown on
        the dashboard below. Since a cron job populates the database over time, the app
        allows to keep track of the general value trend caused by degadiation and radiation.
        <br><br>
      </p>
      <hr>

      <body>
        <div id="data-trending-div">
            {{ dashboard[0] | safe }}
        </div>
      </body>

      <div id="data-trending-script">
        {{ dashboard[1] | safe }}
      </div>
    </div>

  </main>

{% endblock %}
