{% extends "base.html" %}

{% block preamble %}

	<title>{{ inst }} Target Acquisition Monitor  - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">

		<h1>{{ inst }} Target Acquisition Monitor </h1>
		<hr>

        <div class="row">
    		<div class="col">
                <iframe id="target_acq_embed" height="1250px" width="1000px" src="https://{{ jwql_host }}.stsci.edu/shiny_app/?inst={{ inst }}"></iframe>
            </div>
            <div class="col-xl-3 text-left">
                <!--Load the file search form from the view-->
                <div class="anomaly_form">
                    <h5>Submit Anomaly</h5>
                    <form action="" method="post">
                        <li class="anomaly_choice">TA Failure 1</li>
                        <li class="anomaly_choice">TA Failure 2</li>
                        <li class="anomaly_choice">TA Failure 3</li>
                        <li class="anomaly_choice">TA Failure 4</li>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <script>set_ta_monitor_embed_url({{inst}}, {{jwql_host}});</script>

	</main>

    

{% endblock %}
