{% extends "base.html" %}

{% block preamble %}

	<title>View {{ inst }} Image - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<!-- Show image group name -->
    	<h3>{{ file_root }}</h3>

    	<!-- Specify the attributes of what is currently being shown -->
    	<div class="d-flex flex-row">
    		<div class="APT_parameters">Proposal: <a id="proposal"></a></div>
    		<div class="APT_parameters">Observation: <a id="obs_id"></a></div>
    		<div class="APT_parameters">Visit: <a id="visit_id"></a></div>
    		<div class="APT_parameters">Detector: <a id="detector"></a></div>
    	</div>
    	FITS Filename: <a id="fits_filename"></a><br>
    	JPG Filename: <a id="jpg_filename"></a><br><br>

    	<!-- Allow the user to change the file type that is being displayed -->
    	View File Type:
    	<a href="https://jwst-docs.stsci.edu/display/JDAT/File+Naming+Conventions+and+Data+Products" target="_blank">
	      	<span class="help-tip mx-1">i</span>
	    </a><br>
	    <form class="my-2" action="change_filetype(value, {{file_root}}, {{num_ints}}, {{inst}})">
	    	{% for suffix in suffixes %}
	    		<input type="radio" name="filetype" value="{{ suffix }}" id="{{ suffix }}" onclick='change_filetype("{{suffix}}", "{{file_root}}", "{{num_ints}}", "{{inst}}");'> {{ suffix }} &nbsp;&nbsp;&nbsp;&nbsp;
	    	{% endfor %}
		</form>
		<br>

		<!-- View Header and proposal information -->
    	<p>
	    	<a id="view_header" class="btn btn-primary mx-2" role="button" href="">View Header</a>
	    	<a class="btn btn-primary mx-2 disabled" role="button" href="#"> View Proposal {{ file_root[2:7] }}</a>
	    </p>

	    <!-- Display the image -->
	    <div class='text-center'>
		    <button id="int_before" class="btn btn-primary mx-2" role="button" onclick='change_int("left", "{{file_root}}", "{{num_ints}}");' disabled>&#9664;</button>
		    <span class="image_preview">
		    	<a id="int_count">Displaying integration 1/1</a><br>
		    	<img id="image_viewer" src='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ file_root }}_cal_integ0.jpg' alt='{{ file_root }}_cal_integ0.jpg'>
		    </span>
		    <button id="int_after" class="btn btn-primary mx-2" role="button" onclick='change_int("right", "{{file_root}}", "{{num_ints}}");' disabled>&#9658;</button>
		</div>

            <!-- Add Anomoly form -->
            <div class='col-3'>
                <h6>Anomalies in this image:</h6>
                <ul class='no-bullets'>
                    {% for anom, name in anomalies %}
                        {% if anom in prev_anom %}
                            <li><input type="checkbox" name="anomaly" value="{{ anom }}" id="{{ anom }}" checked>&nbsp;&nbsp;{{ name }}</li>
                        {% else %}
                            <li><input type="checkbox" name="anomaly" value="{{ anom }}" id="{{ anom }}">&nbsp;&nbsp;{{ name }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a class="btn btn-primary my-2" role="button" href="#">Submit Anomalies</a>
            </div>

		<!-- Download the images? -->
	    <p>
	    	<a id="download_fits" class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ file_root }}' download>Download FITS</a>
	    	<a id="download_jpg" class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ jpg }}' download>Download JPEG</a>
	    </p>

	    <!-- Determine which filetype should be shown on load -->
	    {% if 'cal' in suffixes %}
	    	<script>change_filetype('cal', '{{file_root}}', '{{num_ints}}', '{{inst}}');</script>
	    {% elif 'rate' in suffixes %}
	    	<script>change_filetype('rate', '{{file_root}}', '{{num_ints}}', '{{inst}}');</script>
	    {% elif 'uncal' in suffixes %}
	    	<script>change_filetype('uncal', '{{file_root}}', '{{num_ints}}', '{{inst}}');</script>
	    {% elif suffixes|length == 1 %}
	    	<script>change_filetype('{{suffixes.0}}', '{{file_root}}', '{{num_ints}}', '{{inst}}');</script>
	    {% else %}
	    	<a>Lauren needs to figure out what to do with these: {{suffixes}}</a>
	    {% endif %}



		<!-- Try the arrow-to-navigate thing -->
		<!-- {% if imdat %}
			<div class="container">
			    <div id="slideshow">
			        <img alt="{{ imdat.0 }}" src="{{ staticURL }}/{{ imdat.0 }}" width=800 id="imgClickAndChange" onclick="changeImage()" />
			    </div>
			</div>

			<div id="demo"></div>
			<script>
			document.getElementById("demo").innerHTML = "Hello JavaScript!";
			</script>


			<script>
			    var imgs = {{ imdat }};

			    function changeImage(dir) {
			    	document.getElementById("imgClickAndChange").innerHTML = 5 + 6;
			        var img = document.getElementById("imgClickAndChange");
			        img.src = imgs[(imgs.indexOf(img.src) + 1) % imgs.length];
			    }

			    document.onkeydown = function(e) {
			        e = e || window.event;
			        if (e.keyCode == '37') {
			            changeImage(-1) //left <- show Prev image
			        } else if (e.keyCode == '39') {
			            // right -> show next image
			            changeImage()
			        }
			    }
			</script>
		{% endif %} -->
	</main>

{% endblock %}