{% extends "base.html" %}

{% block preamble %}

	<title>View {{ inst }} Image - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h5>{{ file }}</h5>

    	<p>
	    	<a class="btn btn-primary my-2 mx-2" role="button" href={{ url('jwql:view_image', args=[inst, file_root]) }}>View Image</a>
	    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#"> View Proposal</a>
	    </p>

        {% autoescape false %}
	       <font face="Courier">{{ header | replace("\n", "<br/>") }}</font>
        {% endautoescape %}

    	<p>
	    	<a class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}{{ file[:7] }}/{{ file }}'>Download FITS</a>
	    	<a class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}{{ file[:7] }}/{{ jpg }}'>Download JPEG</a>
	    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#">Submit Anomaly</a>
	    </p>

	</main>

{% endblock %}