{% extends "base.html" %}

{% block preamble %}

	<title>View {{ inst }} Image (Header) - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h4>{{ filename }}</h4><h>

    	<p>
            <a class="btn btn-primary my-2 mx-2" role="button" href={{ url('jwql:view_image', args=[inst, file_root]) }}>View Image</a>
            <a class="btn btn-primary my-2 mx-2" role="button" href={{ url('jwql:archive_thumb', args=[inst, file_root[2:7]]) }}> View Proposal</a>
	    </p>

        <!-- Allow the user to change the header type that is being displayed -->
        <div id="header-options">
            <form class="my-2">
                {% for extension in header_info %}
                    {% set num_extensions = header_info|length %}
                    {% set extname = header_info[extension]['EXTNAME'] %}
                    {% if extension == 0 %}
                        <input type="radio" name="header_extension" id="extension0" onclick="update_header_display('0', '{{num_extensions}}')" checked="checked"> {{ extname }} &nbsp;&nbsp;&nbsp;&nbsp;
                    {% else %}
                        <input type="radio" name="header_extension" id="extension{{extension}}" onclick="update_header_display('{{extension}}', '{{num_extensions}}')"> {{ extname }} &nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                {% endfor %}
        </div>
        <div id="header-tables">
            {% for extension in header_info %}
                {% set extname = header_info[extension]['EXTNAME'] %}
                {% set header_table = header_info[extension]['table'] %}
                    {% if extension == 0 %}
                        <h4 id="header-display-name-extension0">Extension: {{ header_info[0]['EXTNAME'] }}</h4><h>
                        <div id="header-table-extension0">{{header_info[0]['table']|safe}}</div>
                    {% else %}
                        <h4 id="header-display-name-extension{{extension}}" display="none">Extension: {{ header_info[extension]['EXTNAME'] }}</h4><h>
                        <div id="header-table-extension{{extension}}" display="none">{{header_info[extension]['table']|safe}}</div>
                    {% endif %}
            {% endfor %}
        </div>
        <br>

	</main>

{% endblock %}