{% extends "base.html" %}

{% block preamble %}

	<title>View {{ inst }} Image - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<!-- Show image group name -->
    	<h3>{{ file_root }}</h3>

    	<!-- Specify the attributes of what is currently being shown -->
    	<div class="d-flex flex-row">
    		<div class="APT_parameters">Proposal: <a id="proposal" href="{{ url('jwql:archive_thumb_per_obs', args=[inst, prop_id, obsnum]) }}"></a></div>
    		<div class="APT_parameters">Observation: <a id="obs_id"></a></div>
    		<div class="APT_parameters">Visit: <a id="visit_id"></a></div>
    		<div class="APT_parameters">Detector: <a id="detector"></a></div>
    	</div>
    	FITS Filename: <a id="fits_filename"></a><br>
    	JPG Filename: <a id="jpg_filename"></a><br><br>

    	<!-- Allow the user to change the file type that is being displayed -->
    	View File Type:
    	<a href="https://jwst-pipeline.readthedocs.io/en/latest/jwst/data_products/product_types.html" target="_blank">
	      	<span class="help-tip mx-1">i</span>
	    </a><br>
	    <form class="my-2" action="change_filetype(value, {{file_root}}, {{num_ints}}, {{inst}})">
	    	{% for suffix in suffixes %}
	    		<input type="radio" name="filetype" value="{{ suffix }}" id="{{ suffix }}" onclick='change_filetype("{{suffix}}", "{{file_root}}", "{{num_ints}}", "{{available_ints}}", "{{inst}}");'> {{ suffix }} &nbsp;&nbsp;&nbsp;&nbsp;
	    	{% endfor %}
		</form>
		<br>

		<!-- Buttons for viewing header, downloading files -->
        <p>
            <a id="view_header" class="btn btn-primary mx-2" role="button" href="#">View Header</a>
            <!-- <a id="download_fits" class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ file_root }}' download>Download FITS</a>
            <a id="download_jpg" class="btn btn-primary my-2 mx-2" role="button" href='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ jpg }}' download>Download JPEG</a> -->
        </p>

        <div class="row">
            <!-- Display the image and integration buttons/slider -->
    	    <div class="col-xl-9 text-center">
    		    <span class="image_preview">
    		    	<img id="image_viewer"
                         src='{{ static("") }}preview_images/{{ file_root[:7] }}/{{ file_root }}_cal_integ0.jpg'
                         alt='{{ file_root }}_cal_integ0.jpg'
                         title="Preview image for {{ file_root }}">
    		    </span>

                <div class="int_changer">
                    <button id="int_before" class="btn btn-primary mx-2" role="button" onclick='change_int("{{file_root}}", "{{num_ints}}", "{{available_ints}}", "button", "left");' disabled>&#9664;</button>
                    <input type="range" min="1" max="5" value="1" class="slider" id="slider_range" onchange='change_int("{{file_root}}", "{{num_ints}}",  "{{available_ints}}", "slider")'>
                    <button id="int_after" class="btn btn-primary mx-2" role="button" onclick='change_int("{{file_root}}", "{{num_ints}}",  "{{available_ints}}", "button", "right");' disabled>&#9658;</button>
                    <p>Integration: <span id="slider_val"></span>/<span id="total_ints"></span></p>
                </div>
            </div>

            <!-- Display the anomaly form -->
            <div class="col-xl-3 text-left">
                <!--Load the file search form from the view-->
                <div class="anomaly_form">
                    <h5>Submit Anomaly</h5>
                    <form action="" method="post">
                        <!--Show any errors from a previous form submission-->
                        {% if form.errors %}
                            <fieldset>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </fieldset>
                        {% endif %}

                        <!--Django Cross-Site Request Forgery magic-->
                        {{ csrf_input }}

                        <!--Show the field forms-->
                        {% for field in form %}
                            {% for subwidget in field.subwidgets %}
                                <li class="anomaly_choice">{{subwidget}}</li>
                            {% endfor %}
                        {% endfor %}
                        <button class="btn btn-primary" type="submit" style="float: right;">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Determine which filetype should be shown on load -->
        {% if 'cal' in suffixes %}
            <script>change_filetype('cal', '{{file_root}}', '{{num_ints}}', "{{available_ints}}", '{{inst}}');</script>
        {% elif 'rate' in suffixes %}
            <script>change_filetype('rate', '{{file_root}}', '{{num_ints}}', "{{available_ints}}", '{{inst}}');</script>
        {% elif 'uncal' in suffixes %}
            <script>change_filetype('uncal', '{{file_root}}', '{{num_ints}}', "{{available_ints}}", '{{inst}}');</script>
        {% elif suffixes|length == 1 %}
            <script>change_filetype('{{suffixes.0}}', '{{file_root}}', '{{num_ints}}', "{{available_ints}}", '{{inst}}');</script>
        {% else %}
            <a>Unable to show image for: {{suffixes}}</a>
        {% endif %}

    </main>

{% endblock %}
