{% extends "base.html" %}

{% block preamble %}

	<title>View {{ inst }} Image (Header) - JWQL</title>

{% endblock %}

{% block content %}

    <main role="main" class="container">
    	<h4>{{ file }}</h4><h>

    	<p>
	    	<a class="btn btn-primary my-2 mx-2" role="button" href={{ url('jwql:view_image', args=[inst, file_root]) }}>View Image</a>
	    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#"> View Proposal</a>
	    </p>


        {% autoescape false %}
		{% for extension in header_info %}
			<div class="mnemonic_query_section">
				<h4>Extension: {{ header_info[extension]['EXTNAME']}}</h4><h>
                    {{header_info[extension]['table']}}

			</div>
		{% endfor %}
        {% endautoescape %}
        <p>
            <a class="btn btn-primary my-2 mx-2" role="button" href={{ url('jwql:view_image', args=[inst, file_root]) }}>View Image</a>
            <a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#"> View Proposal</a>
        </p>

	</main>

{% endblock %}