{% extends "base.html" %}

{% block preamble %}

	<title> {{sect}} Log </title>

{% endblock %}
 
{% block content %}

    <main role="main" class="container">
        <h1 style="text-align: center"> Most Recent {{log_type}} {{ sect }} Log </h1>
        <h5> {{log_name}} </h5> </br> 
    	<div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    All {{sect}} Logs <span class="caret"></span></button> </br>
                    <ul class="dropdown-menu" role="menu">
                        {% for path in all_logs %}
                        <li><a role="button" class="btn btn-primary my-2" href={{ url('jwql:view_log', args=[log_type, sect]) }}>{{path.split('/')[-1]}}</a></li>
                        {% endfor %}
                    </ul>
			</div>
            {% for line in filetext %}
                {{ line }} </br>
            {% endfor %}
		</div>

	</main>

{% endblock %}