<!--This line tells the HTML file to read the contents of base.html before
loading the contents of WEBPAGE_TEMPLATE.html-->
{% extends "base.html" %}


<!--The "preamble" block below contains content that goes in the page <head> tag-->
{% block preamble %}

    <!--Put the webpage title here:-->
    <title>Webpage Title - JWQL</title>

{% endblock %}

<!--The "content" block below contains content that goes in the page <body> tag-->
{% block content %}

    <main role="main" class="container">

        <!--Add a heading-->
        <h1>MIRI</h1>

        <!--Horizontal line-->
        <hr>

        <!--Include an image located at jwql/website/apps/jwql/static/img/-->
        <div style="text-align: center"><img src={{ static('img/jwql_logo_full_transparent.png') }} width=20%></div><br>

        Some text under the h1 tag.<br>
        More text after a line break.<br>

        <!--Use a Django variable passed from views.webpage_template-->
        JWST is scheduled to launch in {{ launch_date }}... 🤞

        <br>
        <br>

        <!--Add another heading (you can go up to h5)-->
        <h2>A level 2 heading</h2>

        <!--An inline link-->
        Include a <a href="https://www.w3schools.com/tags/tag_a.asp" target="_blank">link</a>.
        <br>

        <!--Or a Bootstrap button to download an image at jwql/website/apps/jwql/static/img!-->
        <a id="download_example" class="btn btn-primary my-2 mx-2" role="button" href='{{ static("img/hubble_image.jpg") }}' download>Download Hubble Image</a>

        <br>
        <br>

        <!--Add a bulleted list-->
        <h3>A hard-coded list</h3>
        <ul>
            <li>First</li>
            <li>Second</li>
            <li>Last</li>
        </ul>

        <br>


        <h3>A dynamically-coded list</h3>
        <!--Add another list using Jinja for loop and Django variables-->
        <ul>
        {% for instrument in inst_list %}
            <li>{{ instrument }}</li>
        {% endfor %}
        </ul>

        <!--Include a bokeh plot-->
        <h3>A Bokeh Plot</h3>
        <!--Import Bokeh package-->
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css" rel="stylesheet" type="text/css">
        <!--Import Bokeh JavaScript and HTML-->
        {{ plot_data[1] | safe }}
        {{ plot_data[0] | safe }}

    </main>

{% endblock %}
