{% extends "plots_example/base.html" %}
{% block content %}

<head>
	<title>Home - JWST Quicklook</title>

	<!-- Custom styles for this template -->
	<!-- Add "now" timetag to force autoreload the .css file -->
	<link href="{{staticURL}}bootstrap/css/quicklook-home.css?{% now 'U' %}" rel="stylesheet">
</head>

<body>

    <main role="main" class="container">
    	<h4>Welcome to the JWST Quicklook page.</h4>
    	<a> The James Webb Quicklook Application (JWQL) is a database-driven web application and software repository for use by the JWST instrument teams.</a>

    	<div class="row" style="margin-left: 7rem; margin-right: 7rem;">
    		<div class="col-md-6"><a class="btn btn-block btn-primary disabled" role="button" href="#">Dashboard</a></div>
			<div class="col-md-6"><a class="btn btn-block btn-primary disabled" role="button" href="#">Query Database</a></div>
		</div>

    	<!--<h1 style="text-align: center">Instruments</h1>-->
    	<div class="instrument_select">
	    	<div class="row">
				{% if inst_list %}
					{% for inst in inst_list %}
						<div class="col-md-2 text-center">
							<a class="btn btn-block btn-outline-primary" role="button" href="{% url 'plots_example:instrument' inst %}">
								<div class="frame"><span class="helper"></span><img src="{{staticURL}}/plots_example/images/{{inst}}logo.png" width=100 style="vertical-align: middle"></div>
								{{ inst }}
							</a>
						</div>
					{% endfor %}
				{% else %}
					<p>No instruments are available.</p>
				{% endif %}
			</div>
		</div>
	</main>

</body>

{% endblock %}