<!doctype html>
<html lang="en">

	{% load static %}
	{% static "" as staticURL %}
	<head>

		<title>Home - JWST Quicklook</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<!-- Add "now" timetag to force autoreload the .css file -->
		<link href="{{staticURL}}bootstrap/css/quicklook-master.css?{% now 'U' %}" rel="stylesheet">
    	<link href="{{staticURL}}bootstrap/css/quicklook-home.css?{% now 'U' %}" rel="stylesheet">

	</head>

	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		  <a class="navbar-left"><img src="{% static 'plots_example/images/JWSTlogo.png' %}" height=35 width=35></a>
	      <a class="navbar-brand" href="{% url 'plots_example:index' %}">JWST Quicklook</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="{% url 'plots_example:index' %}"><font color='#9A9D9F'>Home</font><span class="sr-only">(current)</span></a>
	          </li>
	          {% for inst, inst_tools in tools.items %}
		          <li class="dropdown">
		            <a class="nav-link dropdown-toggle disabled" href="{% url 'plots_example:detail' inst %}" id="dropdown"{{ inst }} aria-haspopup="true" aria-expanded="false"><font color='#9A9D9F'>{{ inst }}</font></a>
		            <div class="dropdown-menu" aria-labelledby="dropdown01">
		            	{% for tool in inst_tools %}
		              		<a class="dropdown-item" href="#">{{ tool }}</a>
		              	{% endfor %}
		            </div>
		          </li>
		      {% endfor %}
	        </ul>
	      </div>
	    </nav>

	    <!-- Main Body Text -->
<!-- <h3>Three equal columns</h3>
      <p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.</p>
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div> -->


	    <main role="main" class="container">
	    	<h1>Instruments</h1>
	    	<div class="row">
				{% if inst_list %}
					{% for inst in inst_list %}
						<div class="col-md-2 text-center">
							<a class="btn btn-block btn-outline-primary" role="button" href="{% url 'plots_example:detail' inst %}">
								<div class="frame"><span class="helper"></span><img src="{{staticURL}}/plots_example/images/{{inst}}logo.png" width=100 style="vertical-align: middle"></div>
								{{ inst }}
							</a>
						</div>
					{% endfor %}
				{% else %}
					<p>No instruments are available.</p>
				{% endif %}
			</div>
		</main>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>