{% extends "plots_example/base.html" %}
{% block content %}

<head>
	<title>Unlooked {{ inst }} Images - JWST Quicklook</title>

	<!-- Custom styles for this template -->
	<link href="{{staticURL}}bootstrap/css/quicklook-unlooked.css?{% now 'U' %}" rel="stylesheet">
	<!-- <link href="{{staticURL}}bootstrap/css/jquery.dataTables.css?{% now 'U' %}" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<!-- Custom scripts for this template -->
	<script>
		// JS function to link to appropriate view_image page
		function go_to_view_image(destination) {
			window.location = destination;
		};

		// JS function to determine whether the page is archived or unlooked
		function determine_page_title() {
			var url = document.URL;
			var url_split = url.split('/');
			var url_title = url_split[url_split.length - 2];
			if (url_title == 'archived') {
				page_title = 'Archived';
			} else if (url_title == 'unlooked') {
				page_title = 'Unlooked';
			}

			final_title = page_title + ' {{ inst }} Images'
			document.getElementById('title').innerHTML = final_title;
			if (document.title != final_title) {
			    document.title = final_title;
			}
		};

		// JS function to determine what filetype to use for the thumbnail
		function determine_filetype_for_thumbnail(suffixes, i, file_root) {
			var suffixes = suffixes.replace(/&#39;/g, '"');
			var suffixes = JSON.parse(suffixes);
			var img = document.getElementById('thumbnail'+i);
			// document.getElementById('demo' + i).innerHTML = suffixes.indexOf("rate") >=0;
			if (suffixes.indexOf("cal") >= 0) {
				var jpg_path = '{{ staticURL }}' + file_root.slice(0,7) + '/' + file_root + '_cal_integ0.jpg';
				// document.getElementById('demo'+i).innerHTML = img.href;
				img.src = jpg_path;
			} else if (suffixes.indexOf("rate") >= 0) {
				var jpg_path = '{{ staticURL }}' + file_root.slice(0,7) + '/' + file_root + '_rate_integ0.jpg';
				// document.getElementById('demo'+i).innerHTML = img.href;
				img.src = jpg_path;
			} else if (suffixes.indexOf("uncal") >= 0) {
				var jpg_path = '{{ staticURL }}' + file_root.slice(0,7) + '/' + file_root + '_uncal_integ0.jpg';
				// document.getElementById('demo'+i).innerHTML = jpg_path;
				img.src = jpg_path;
			}
		};

		function show_only(filter_type, value) {
			var all_filters = ['detector', 'proposal']
			document.getElementById(filter_type + '_dropdownMenuButton').innerHTML = value;
			var thumbnails = document.getElementsByClassName("thumbnail");

			var detector_filter_value = document.getElementById('detector_dropdownMenuButton').innerHTML,
			    proposal_filter_value = document.getElementById('proposal_dropdownMenuButton').innerHTML;

			var num_thumbnails_displayed = 0;
			for (i = 0; i < thumbnails.length; i++) {
				var detector_criterion = (detector_filter_value.indexOf('All detectors') >=0) || (thumbnails[i].getAttribute('detector') == detector_filter_value);
				var proposal_criterion = (proposal_filter_value.indexOf('All proposals') >=0) || (thumbnails[i].getAttribute('proposal') == proposal_filter_value);

				// document.getElementById('demo').innerHTML += (proposal_filter_value.indexOf('All proposals') >=0).toString() + detector_criterion.toString() + proposal_criterion.toString() + (detector_criterion && proposal_criterion).toString() + '<br>';

				if (detector_criterion && proposal_criterion) {
					thumbnails[i].style.display = "inline-block";
					no_thumbnails_to_display = false
					num_thumbnails_displayed++
				} else {
					thumbnails[i].style.display = "none";
				}
			};

			if (num_thumbnails_displayed == 0) {
				document.getElementById('no_thumbnails_msg').style.display = 'inline-block';
			} else {
				document.getElementById('no_thumbnails_msg').style.display = 'none';
			};

			document.getElementById('img_show_count').innerHTML = 'Showing ' + num_thumbnails_displayed + '/{{ file_data|length }} activities'
		};

	</script>

    <main role="main" class="container">

    	<h3 id='title'>{{ inst }} Images</h3>
    	<script>determine_page_title();</script>

    	<p id='img_show_count'>Showing {{ file_data|length }}/{{ file_data|length }} activities<a href="https://jwst-docs.stsci.edu/display/JDAT/File+Naming+Conventions+and+Data+Products" target="_blank" style="color: black"><span class="help-tip mx-2">i</span></a></p>

    	<!-- <a id='demo'>TEST</a> -->
    	<hr>

    	<div id="filterOptions">
    		<div class="row">
    			{% for filter_type, filter_options in dropdown_menus.items %}
	    			<div class="col-md-6">
				    	Show only {{filter_type}}:
				    	<div class="dropdown">
						  <button class="btn dropdown-toggle" type="button" id="{{filter_type}}_dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All {{filter_type}}s</button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						  	<a class="dropdown-item" href="#" onclick="show_only('{{filter_type}}', 'All {{filter_type}}s');">All {{filter_type}}s</a>
						  	{% for option in filter_options %}
						    	<a class="dropdown-item" href="#" onclick="show_only('{{filter_type}}', '{{option}}');">{{option}}</a>
						    {% endfor %}
						  </div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<hr>

		<div id='thumbnail-array'>
		{% for i, file in thumbnail_zipped_list %}
			{% url 'plots_example:view_image' inst file.file_root as viewimage_URL %}
			<div class="thumbnail" onclick="go_to_view_image('{{ viewimage_URL }}')" detector="{{file.detector}}" proposal="{{file.proposal_id}}">
				<img id='thumbnail{{i}}' onerror="this.src='{{staticURL}}plots_example/images/imagenotfound.png'" width=100%>
				<script>determine_filetype_for_thumbnail("{{file.suffixes}}", "{{i}}", "{{file.file_root}}");</script>

				<div class='color-fill' ></div>
				<div class='thumbnail_info'>
					Proposal: {{file.proposal_id}}<br>
					Observation: {{file.observation_id}}<br>
					Visit: {{file.visit_id}}<br>
					Detector: {{file.detector}}<br>
					<!-- Suffixes: {{file.3}}<br> -->
					ID: {{file.file_root}}<br>
				</div>
				<!-- <a -->
			</div>
		{% endfor %}
		</div>

		<a id="no_thumbnails_msg" style='display: none'>No data match the selected criteria.</a>

	</main>

</body>

{% endblock %}