{% extends "plots_example/base.html" %}
{% block content %}

<head>
	<title>Unlooked {{ inst }} Images - JWST Quicklook</title>

	<!-- Custom styles for this template -->

</head>

<body>
						    {% endfor %}
						  </div>
		          </li>
				{% endfor %}
	        </ul>
		</div>

	    	<h5>Unlooked {{ inst }} Images</h5>
	    	<p>{{ imdat|length }} images found</p>

			<!-- Show all available data  -->
	    	{% if imdat %}
				{% for file in imdat %}
				<ul>
					<a href="{% url 'plots_example:view_image' inst file %}">{{ file }}</a>
				</ul>
		{% endfor %}

			{% else %}
				<p>No data are available.</p>
			{% endif %}

	</main>

</body>

{% endblock %}