<!doctype html>
<html lang="en">

	{% load static %}
	{% static "" as staticURL %}
	<head>

		<title>View {{ inst }} Image - JWST Quicklook</title>

		<!-- JWQL Icon as website image -->
		<link rel="shortcut icon" href="{{ staticURL }}plots_example/images/favicon.ico?{% now 'U' %}" />

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Custom styles for this template -->
		<link href="{{staticURL}}bootstrap/css/quicklook-master.css?{% now 'U' %}" rel="stylesheet">
		<link href="{{staticURL}}bootstrap/css/quicklook-instrument.css?{% now 'U' %}" rel="stylesheet">
		<link href="{{staticURL}}bootstrap/css/sticky-footer.css?{% now 'U' %}" rel="stylesheet">


	</head>

	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		  <a class="navbar-left"><img src="{% static 'plots_example/images/JWQLlogo_small.png' %}" height=35 width=35></a>
	      <a class="navbar-brand" href="{% url 'plots_example:home' %}">JWST Quicklook</a>
	      <a class="navbar-brand" href="#"><font color='#f2ce3a'>{{ inst }}</font></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="{% url 'plots_example:home' %}"><font color='#9A9D9F'>Home</font><span class="sr-only">(current)</span></a>
	          </li>
	          {% for inst_key, inst_tools in tools.items %}
		          <li class="dropdown">
		            <a class="nav-link dropdown-toggle disabled" href="{% url 'plots_example:instrument' inst_key %}" id="dropdown"{{ inst_key }} aria-haspopup="true" aria-expanded="false"><font color='#9A9D9F'>{{ inst_key }}</font></a>
		            <div class="dropdown-menu" aria-labelledby="dropdown01">
		            	<a class="dropdown-item text-muted" style="background-color: #d9dde2" href="#">Images</a>
		            	<a class="dropdown-item" href="{% url 'plots_example:unlooked_im' inst_key %}">Unlooked Images</a>
		            	<a class="dropdown-item" href="#">Image Anomalies</a>
		            	<a class="dropdown-item" href="#">Archived Images</a>
		            	<a class="dropdown-item text-muted" style="background-color: #d9dde2" href="#">Monitors</a>
		            	{% for tool in inst_tools %}
		              		<a class="dropdown-item" href="#">{{ tool }}</a>
		              	{% endfor %}
		            </div>
		          </li>
		      {% endfor %}
	        </ul>
	        <!-- <form class="form-inline my-2 my-lg-0">
	          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	        </form> -->
	      </div>

	      <a class="navbar-right" href="https://github.com/spacetelescope/jwql"><img src="{% static 'plots_example/images/githublogo.svg' %}" height=25 width=25></a>
	    </nav>

	    <main role="main" class="container">
	    	<h5>{{ file }}</h5>

	    	<p>
		    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#">View Header</a>
		    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#"> View Proposal</a>
		    </p>

		    <a><img src='{{ staticURL }}{{ file|slice:":7" }}/{{ jpg }}' alt='{{ jpg }}'></a>

	    	<p>
		    	<a class="btn btn-primary my-2 mx-2" role="button" href='{{ staticURL }}{{ file|slice:":7" }}/{{ file }}'>Download FITS</a>
		    	<a class="btn btn-primary my-2 mx-2" role="button" href='{{ staticURL }}{{ file|slice:":7" }}/{{ jpg }}'>Download JPEG</a>
		    	<a class="btn btn-primary my-2 mx-2 disabled" role="button" href="#">Submit Anomaly</a>
		    </p>

			<!-- Try the arrow-to-navigate thing -->
			{% if imdat %}
				<div class="container">
				    <div id="slideshow">
				        <img alt="{{ imdat.0 }}" src="{{ staticURL }}/{{ imdat.0 }}" width=800 id="imgClickAndChange" onclick="changeImage()" />
				    </div>
				</div>

				<div id="demo"></div>
				<script>
				document.getElementById("demo").innerHTML = "Hello JavaScript!";
				</script>

				<!-- <script src="{% static 'image_click_to_change.js' %}"></script> -->

				<script>
				    var imgs = {{ imdat }};

				    function changeImage(dir) {
				    	document.getElementById("imgClickAndChange").innerHTML = 5 + 6;
				        var img = document.getElementById("imgClickAndChange");
				        img.src = imgs[(imgs.indexOf(img.src) + 1) % imgs.length];
				    }

				    document.onkeydown = function(e) {
				        e = e || window.event;
				        if (e.keyCode == '37') {
				            changeImage(-1) //left <- show Prev image
				        } else if (e.keyCode == '39') {
				            // right -> show next image
				            changeImage()
				        }
				    }
				</script>
			{% endif %}

		</main>

		<footer class="footer text-center">
	      <div class="container">
	        <img src="{% static 'plots_example/images/STScIlogo.png' %}" height=36>
	      </div>
	    </footer>
	</body>
</html>
