name: JWQL CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - run: pip install bandit
      - run: bandit ./jwql/ -c .bandit

  test:
    name: test (Python ${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest" ]
        python-version: [ "3.11" ]
      fail-fast: false
    env:
      PYTHONUNBUFFERED: 1
    defaults:
      run:
        shell: micromamba-shell {0}
    steps:
      - uses: actions/checkout@v4
      
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: jwql-${{ runner.os }}-py${{ matrix.python-version }}
          environment-file: environment.yml
          create-args: >-
            python=${{ matrix.python-version }}
          init-shell: none
          generate-run-shell: true
          
      - run: pip install -e .[test]

      - run: pip list

      - run: micromamba env export

      - if: runner.os == 'Linux'
        uses: supercharge/redis-github-action@1.4.0
        with:
          redis-version: 5.0

      - run: python -c "import jwql; print('Version ' + jwql.__version__); print('Path ' + jwql.__path__[0])"

      - run: pytest jwql/tests/
